.banner-promotion
{
    height: 100vh;
}

.wrapper-banner
{
    width: 90%;
    margin: auto;
}

.banner-container
{
    overflow: hidden;
    display: grid;
    grid-template-columns: 5fr 3fr repeat(2, 5fr);
    grid-template-rows: repeat(2, 8fr) repeat(3, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    text-align: center;
    overflow: hidden;
}

.banner-promotion-1
{
    overflow: hidden;
    position: relative;
    @include componentStyling ( block, null, 255px, $default-color, null );
    grid-area: 1 / 1 / 2 / 3;
    
        &::before
        {
            @include shineEffect('', 1, all ease-in-out 300ms, translate(-100%, -10%) rotate(-45deg));
        }

        &:hover
        {
            &::before
            {
                transform: translate(100%, -10%) rotate(-45deg);
            }
        }
}

.banner-promotion-2
{
    overflow: hidden;
    position: relative;
    @include componentStyling ( block, null, 255px, $default-color, null );
    grid-area: 2 / 1 / 3 / 2;
    
        &::before
        {
            @include shineEffect('', 1, all ease-in-out 300ms, translate(-100%, -30%) rotate(-45deg));
        }

        &:hover
        {
            &::before
            {
                transform: translate(100%, -30%) rotate(-45deg);
            }
        }
}

.banner-promotion-3
{
    overflow: hidden;
    position: relative;
    @include componentStyling ( block, null, 255px, $default-color, null );
    grid-area: 2 / 2 / 3 / 4;
    
        &::before
        {
            @include shineEffect('', 1, all ease-in-out 300ms, translate(-100%, -10%) rotate(-45deg));
        }

        &:hover
        {
            &::before
            {
                transform: translate(100%, -10%) rotate(-45deg);
            }
        }
}

.banner-promotion-4
{
    overflow: hidden;
    position: relative;
    @include componentStyling ( block, null, 255px, $default-color, null );
    grid-area: 1 / 3 / 2 / 4;
    
        &::before
        {
            @include shineEffect('', 1, all ease-in-out 300ms, translate(-100%, -30%) rotate(-45deg));
        }

        &:hover
        {
            &::before
            {
                transform: translate(100%, -30%) rotate(-45deg);
            }
        }
}

.banner-promotion-5
{
    overflow: hidden;
    position: relative;
    @include componentStyling ( block, null, null, $default-color, null );
    grid-area: 1 / 4 / 3 / 5;
    
        &::before
        {
            @include shineEffect('', 1, all ease-in-out 300ms, translate(-120%, -60%) rotate(-45deg));
        }

        &:hover
        {
            &::before
            {
                transform: translate(100%, 30%) rotate(-45deg);
            }
        }
}