// font
$primary-font: 'Lato', sans-serif;
$secondary-font: 'Nunito Sans', sans-serif;

// color
$default-color: #f6f6f6;
$primary-color: #3A5EFF;
$success-color: #08C173;
$danger-color: #F85A53;
$warm-color: #FE824C;
$warning-color: #FFC700;
$secondary-color: #ABABAB;
$white-color: #FFFFFF;
$info-color: #44BED0;
$iron-color: #2F3C4E;